In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# url for player salaries
url = 'http://hoopshype.com/salaries/players/'

In [3]:
# dataframe of salaries
salaries_df = pd.read_html(url)
salaries_df = salaries_df[0]
salaries_df.head(10)

,Unnamed: 0,Player,2017/18,2018/19,2019/20,2020/21,2021/22,2022/23
0,1.0,Stephen Curry,"$34,682,550","$37,457,154","$40,231,758","$43,006,362","$45,780,966",$0
1,2.0,LeBron James,"$33,285,709","$35,607,968",$0,$0,$0,$0
2,3.0,Paul Millsap,"$30,769,231","$29,230,769","$30,000,000",$0,$0,$0
3,4.0,Gordon Hayward,"$29,727,900","$31,214,295","$32,700,690","$34,187,085",$0,$0
4,5.0,Blake Griffin,"$29,512,900","$31,873,932","$34,234,964","$36,595,996","$38,957,028",$0
5,6.0,Kyle Lowry,"$28,703,704","$31,000,000","$33,296,296",$0,$0,$0
6,7.0,Mike Conley,"$28,530,608","$30,521,115","$32,511,623","$34,502,130",$0,$0
7,8.0,James Harden,"$28,299,399","$30,421,854",NaN,NaN,NaN,NaN
8,8.0,Russell Westbrook,"$28,299,399",NaN,NaN,NaN,NaN,NaN
9,10.0,DeMar DeRozan,"$27,739,975","$27,739,975","$27,739,975","$27,739,975",$0,$0

In [4]:
# trimmed down to 2018 season salaries
salaries_df = salaries_df.iloc[:,1:3]
print(len(salaries_df))
salaries_df.head(10)

563

              Player \n\t\t\t\t\t\t\t2017/18\t\t\t\t\t\t
0      Stephen Curry                         $34,682,550
1       LeBron James                         $33,285,709
2       Paul Millsap                         $30,769,231
3     Gordon Hayward                         $29,727,900
4      Blake Griffin                         $29,512,900
5         Kyle Lowry                         $28,703,704
6        Mike Conley                         $28,530,608
7       James Harden                         $28,299,399
8  Russell Westbrook                         $28,299,399
9      DeMar DeRozan                         $27,739,975

In [5]:
# player stats data
players_csv = os.path.join('nba-players-stats-since-1950', 'Players.csv')
stats_csv = os.path.join('final_seasonstats_.csv')
raw_stats_csv = os.path.join('nba-players-stats-since-1950', 'Seasons_Stats.csv')

In [6]:
years_played_df = pd.read_csv(raw_stats_csv)
years_played_df.head(10)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0

In [7]:
years_played = years_played_df.iloc[:, 1:4]
years_played.head(10)

     Year           Player  Pos
0  1950.0  Curly Armstrong  G-F
1  1950.0     Cliff Barker   SG
2  1950.0    Leo Barnhorst   SF
3  1950.0       Ed Bartels    F
4  1950.0       Ed Bartels    F
5  1950.0       Ed Bartels    F
6  1950.0      Ralph Beard    G
7  1950.0       Gene Berce  G-F
8  1950.0    Charlie Black  F-C
9  1950.0    Charlie Black  F-C

In [12]:
years_played_agg = years_played.groupby( [ "Year", "Player"] ).size().to_frame(name = 'count').reset_index()
years_played_agg.head(10)

     Year          Player  count
0  1950.0       Al Cervi*      1
1  1950.0       Al Guokas      3
2  1950.0       Al Miksis      1
3  1950.0      Alex Groza      1
4  1950.0    Alex Hannum*      1
5  1950.0   Andrew Levane      1
6  1950.0     Andy Duncan      1
7  1950.0  Andy O'Donnell      1
8  1950.0   Andy Phillip*      1
9  1950.0   Ariel Maughan      1

In [13]:
years_played_agg = years_played_agg.groupby('Player').size().to_frame(name = 'years_played').reset_index()
years_played_agg.head(10)

          Player  years_played
0     A.C. Green            16
1  A.J. Bramlett             1
2   A.J. English             2
3    A.J. Guyton             3
4   A.J. Hammons             1
5     A.J. Price             6
6    A.J. Wynder             1
7      A.W. Holt             1
8   Aaron Brooks             9
9   Aaron Gordon             3

In [14]:
# dataframe with player data
players_df = pd.read_csv(players_csv)
players_df.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [15]:
edited_players = players_df.iloc[:, 1:4]
edited_players.head(10)

            Player  height  weight
0  Curly Armstrong   180.0    77.0
1     Cliff Barker   188.0    83.0
2    Leo Barnhorst   193.0    86.0
3       Ed Bartels   196.0    88.0
4      Ralph Beard   178.0    79.0
5       Gene Berce   180.0    79.0
6    Charlie Black   196.0    90.0
7      Nelson Bobb   183.0    77.0
8  Jake Bornheimer   196.0    90.0
9     Vince Boryla   196.0    95.0

In [16]:
# dataframe with player stats data
stats_df = pd.read_csv(stats_csv)
stats_df.head()

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,WS,FG%,3P%,2P%,FTA,FT%,PTS,mvp
0,1990,Charles Barkley*,79,3085,27.1,16.7,15.6,2.4,1.0,13.9,17.3,0.600,0.217,0.632,744.0,0.749,1989,Not MVP
1,1990,David Robinson*,81,3002,26.3,18.5,8.7,2.2,6.5,13.3,15.1,0.531,0.000,0.532,837.0,0.732,1993,Not MVP
2,1990,Hakeem Olajuwon*,82,3124,24.1,19.5,12.1,2.6,7.0,14.6,11.2,0.501,0.167,0.502,536.0,0.713,1995,Not MVP
3,1990,Karl Malone*,82,3122,27.2,17.1,13.2,1.9,1.0,13.0,15.9,0.562,0.372,0.567,913.0,0.762,2540,Not MVP
4,1990,Magic Johnson*,79,2937,26.6,10.2,45.5,2.2,0.7,16.9,16.5,0.480,0.384,0.510,637.0,0.890,1765,MVP

In [17]:
edited_stats = stats_df.loc[stats_df['Year'] == 2017]
print(len(edited_stats))
edited_stats.head()

486

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,WS,FG%,3P%,2P%,FTA,FT%,PTS,mvp
239,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,3.0,0.471,0.217,0.487,253.0,0.874,1154,Not MVP
240,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,2.5,0.437,0.378,0.463,112.0,0.875,769,Not MVP
241,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,12.0,0.537,0.375,0.608,384.0,0.875,1555,Not MVP
242,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,12.9,0.548,0.363,0.611,531.0,0.674,1954,Not MVP
243,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,13.1,0.425,0.343,0.459,840.0,0.845,2558,MVP

In [18]:
complete_stats = pd.merge(edited_stats, edited_players, on='Player', how='left')
complete_stats.head(10)

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,WS,FG%,3P%,2P%,FTA,FT%,PTS,mvp,height,weight
0,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,3.0,0.471,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0
1,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,2.5,0.437,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0
2,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,12.0,0.537,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0
3,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,12.9,0.548,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0
4,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,13.1,0.425,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0
5,2017,Stephen Curry,79,2638,24.6,7.3,31.1,2.6,0.5,13.0,12.6,0.468,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0
6,2017,A.J. Hammons,0,163,8.4,12.8,3.8,0.3,7.2,16.4,0.0,0.405,0.500,0.375,20.0,0.450,48,Not MVP,198.0,99.0
7,2017,Aaron Brooks,0,894,9.5,4.3,20.7,1.4,0.9,17.2,0.3,0.403,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0
8,2017,Aaron Gordon,72,2298,14.4,9.6,10.5,1.4,1.4,8.5,3.7,0.454,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0
9,2017,Aaron Harrison,0,17,-2.2,9.7,22.6,0.0,0.0,0.0,-0.1,0.000,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0

In [19]:
complete_stats = pd.merge(complete_stats, years_played_agg, on='Player', how='left')
complete_stats.head(10)

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,...,FG%,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played
0,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,...,0.471,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0,8
1,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,...,0.437,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0,19
2,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,...,0.537,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0,10
3,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,...,0.548,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0,14
4,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,...,0.425,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0,9
5,2017,Stephen Curry,79,2638,24.6,7.3,31.1,2.6,0.5,13.0,...,0.468,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0,8
6,2017,A.J. Hammons,0,163,8.4,12.8,3.8,0.3,7.2,16.4,...,0.405,0.500,0.375,20.0,0.450,48,Not MVP,198.0,99.0,1
7,2017,Aaron Brooks,0,894,9.5,4.3,20.7,1.4,0.9,17.2,...,0.403,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0,9
8,2017,Aaron Gordon,72,2298,14.4,9.6,10.5,1.4,1.4,8.5,...,0.454,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0,3
9,2017,Aaron Harrison,0,17,-2.2,9.7,22.6,0.0,0.0,0.0,...,0.000,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0,2

In [20]:
final_dataset = pd.merge(complete_stats, salaries_df, on='Player', how='left')
print(len(final_dataset))
final_dataset.head(10)

486

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,...,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played,2017/18
0,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,...,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0,8,"$2,533,488"
1,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,...,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0,19,"$5,000,000"
2,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,...,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0,10,"$25,000,000"
3,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,...,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0,14,"$33,285,709"
4,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,...,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0,9,"$28,299,399"
5,2017,Stephen Curry,79,2638,24.6,7.3,31.1,2.6,0.5,13.0,...,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0,8,"$34,682,550"
6,2017,A.J. Hammons,0,163,8.4,12.8,3.8,0.3,7.2,16.4,...,0.500,0.375,20.0,0.450,48,Not MVP,198.0,99.0,1,NaN
7,2017,Aaron Brooks,0,894,9.5,4.3,20.7,1.4,0.9,17.2,...,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0,9,"$2,116,955"
8,2017,Aaron Gordon,72,2298,14.4,9.6,10.5,1.4,1.4,8.5,...,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0,3,"$5,504,419"
9,2017,Aaron Harrison,0,17,-2.2,9.7,22.6,0.0,0.0,0.0,...,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0,2,"$174,570"

In [21]:
null_cols = final_dataset[final_dataset.isnull().any(axis=1)]
print(len(null_cols))
null_cols.head()

127

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,...,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played,2017/18
6,2017,A.J. Hammons,0,163,8.4,12.8,3.8,0.3,7.2,16.4,...,0.500,0.375,20.0,0.450,48,Not MVP,198.0,99.0,1,NaN
14,2017,Alan Anderson,0,308,5.0,4.4,4.9,0.5,0.0,7.4,...,0.318,0.444,16.0,0.750,86,Not MVP,198.0,99.0,8,NaN
22,2017,Alonzo Gee,0,89,3.1,9.3,8.2,2.7,0.9,18.2,...,0.000,0.273,9.0,0.556,11,Not MVP,198.0,102.0,8,NaN
24,2017,Anderson Varejao,1,92,9.4,16.1,13.0,1.6,2.6,29.8,...,NaN,0.357,11.0,0.727,18,Not MVP,208.0,123.0,13,NaN
32,2017,Anthony Bennett,1,264,14.7,15.6,7.1,0.9,0.9,10.0,...,0.271,0.568,36.0,0.722,115,Not MVP,203.0,111.0,4,NaN

In [23]:
clean_data = final_dataset.dropna()
print(len(clean_data))
clean_data.head(10)

359

,Year,Player,GS,MP,PER,TRB%,AST%,STL%,BLK%,TOV%,...,3P%,2P%,FTA,FT%,PTS,mvp,height,weight,years_played,2017/18
0,2017,Derrick Rose,64,2082,17.0,6.4,22.8,1.1,0.7,11.9,...,0.217,0.487,253.0,0.874,1154,Not MVP,190.0,86.0,8,"$2,533,488"
1,2017,Dirk Nowitzki,54,1424,17.0,14.4,10.6,1.1,2.4,6.6,...,0.378,0.463,112.0,0.875,769,Not MVP,213.0,111.0,19,"$5,000,000"
2,2017,Kevin Durant,62,2070,27.6,13.6,23.1,1.5,3.8,10.4,...,0.375,0.608,384.0,0.875,1555,Not MVP,206.0,108.0,10,"$25,000,000"
3,2017,LeBron James,74,2794,27.0,12.6,41.3,1.6,1.3,16.1,...,0.363,0.611,531.0,0.674,1954,Not MVP,203.0,113.0,14,"$33,285,709"
4,2017,Russell Westbrook,81,2802,30.6,17.1,57.3,2.3,0.9,15.9,...,0.343,0.459,840.0,0.845,2558,MVP,190.0,90.0,9,"$28,299,399"
5,2017,Stephen Curry,79,2638,24.6,7.3,31.1,2.6,0.5,13.0,...,0.411,0.537,362.0,0.898,1999,Not MVP,190.0,86.0,8,"$34,682,550"
7,2017,Aaron Brooks,0,894,9.5,4.3,20.7,1.4,0.9,17.2,...,0.375,0.424,40.0,0.800,322,Not MVP,183.0,73.0,9,"$2,116,955"
8,2017,Aaron Gordon,72,2298,14.4,9.6,10.5,1.4,1.4,8.5,...,0.288,0.528,217.0,0.719,1019,Not MVP,206.0,99.0,3,"$5,504,419"
9,2017,Aaron Harrison,0,17,-2.2,9.7,22.6,0.0,0.0,0.0,...,0.000,0.000,2.0,0.500,1,Not MVP,198.0,95.0,2,"$174,570"
10,2017,Adreian Payne,0,135,14.4,14.3,8.0,3.0,4.4,11.4,...,0.200,0.513,19.0,0.737,63,Not MVP,208.0,107.0,3,"$75,000"

In [24]:
# save data
clean_data.to_csv('salary_model_data.csv')