In [2]:
import requests as req
import pandas as pd

In [3]:
url = 'http://hoopshype.com/salaries/players/'

In [27]:
salaries_df = pd.read_html(url)
salaries_df = salaries_df[0]
salaries_df.head(10)

,Unnamed: 0,Player,2017/18,2018/19,2019/20,2020/21,2021/22,2022/23
0,1.0,Stephen Curry,"$34,682,550","$37,457,154","$40,231,758","$43,006,362","$45,780,966",$0
1,2.0,LeBron James,"$33,285,709","$35,607,968",$0,$0,$0,$0
2,3.0,Paul Millsap,"$30,769,231","$29,230,769","$30,000,000",$0,$0,$0
3,4.0,Gordon Hayward,"$29,727,900","$31,214,295","$32,700,690","$34,187,085",$0,$0
4,5.0,Blake Griffin,"$29,512,900","$31,873,932","$34,234,964","$36,595,996","$38,957,028",$0
5,6.0,Kyle Lowry,"$28,703,704","$31,000,000","$33,296,296",$0,$0,$0
6,7.0,Mike Conley,"$28,530,608","$30,521,115","$32,511,623","$34,502,130",$0,$0
7,8.0,James Harden,"$28,299,399","$30,421,854",NaN,NaN,NaN,NaN
8,8.0,Russell Westbrook,"$28,299,399",NaN,NaN,NaN,NaN,NaN
9,10.0,DeMar DeRozan,"$27,739,975","$27,739,975","$27,739,975","$27,739,975",$0,$0

In [28]:
salaries_df = salaries_df.iloc[:,1:3]
salaries_df

                   Player \n\t\t\t\t\t\t\t2017/18\t\t\t\t\t\t
0           Stephen Curry                         $34,682,550
1            LeBron James                         $33,285,709
2            Paul Millsap                         $30,769,231
3          Gordon Hayward                         $29,727,900
4           Blake Griffin                         $29,512,900
5              Kyle Lowry                         $28,703,704
6             Mike Conley                         $28,530,608
7            James Harden                         $28,299,399
8       Russell Westbrook                         $28,299,399
9           DeMar DeRozan                         $27,739,975
10             Al Horford                         $27,734,405
11        Carmelo Anthony                         $26,243,760
12         Damian Lillard                         $26,153,057
13           Jrue Holiday                         $25,686,667
14             Chris Bosh                         $25,289,390
15           Kevin Durant                         $25,000,000
16            Otto Porter                         $24,773,250
17             Chris Paul                         $24,268,959
18            CJ McCollum                         $23,962,573
19          Anthony Davis                         $23,775,506
20         Andre Drummond                         $23,775,506
21           Bradley Beal                         $23,775,506
22       Hassan Whiteside                         $23,775,506
23          Dwight Howard                         $23,500,000
24        Harrison Barnes                         $23,112,004
25       Chandler Parsons                         $23,112,004
26              JJ Redick                         $23,000,000
27             Kevin Love                         $22,642,350
28         DeAndre Jordan                         $22,642,350
29             Marc Gasol                         $22,642,350
..                    ...                                 ...
533         Anthony Brown                             $75,000
534         Charles Cooke                             $75,000
535          Isaiah Hicks                             $75,000
536           Luke Kornet                             $75,000
537             PJ Dozier                             $75,000
538       Daniel Hamilton                             $75,000
539           Jamel Artis                             $75,000
540         Adreian Payne                             $75,000
541  James Michael McAdoo                             $75,000
542           James Young                             $75,000
543          Danuel House                             $75,000
544           Alec Peters                             $75,000
545             CJ Wilcox                             $75,000
546           Jack Cooley                             $75,000
547        JaKarr Sampson                             $75,000
548         Matt Costello                             $75,000
549       Darrun Hilliard                             $75,000
550         Lorenzo Brown                             $75,000
551        Malcolm Miller                             $75,000
552        Devin Robinson                             $75,000
553       Jonathan Gibson                             $74,158
554          Xavier Silas                             $74,158
555         Scotty Hopson                             $74,158
556          Landry Nnoko                             $50,000
557            VJ Beachem                             $50,000
558        Bronson Koenig                             $50,000
559         Daniel Ochefu                             $50,000
560               CJ Fair                             $46,079
561    Marcus Thornton II                             $46,079
562         Jameel Warney                             $46,079

[563 rows x 2 columns]